<!DOCTYPE html>
<html>
  <head>
    <title>Продающие сайты | Selling Sites</title>
    <!-- Bootstrap -->
    <link href="/include/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/include/css/style.css" rel="stylesheet" media="screen">
    <link href="/include/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>Привет! Я Bootstrap...</h1>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Заголовок1</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
        </div>
        <div class="span4">
          <h2>Заголовок1</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
        </div>
        <div class="span4">
          <h2>Заголовок1</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
        </div>

      </div>
      <div class="row">
<!--           <div class="span3">
          <h2>Заголовок1</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
        </div>
        <div class="span3">
          <h2>Заголовок1</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </p>
        </div> -->
        <div class="span3 offset6">
          <h2>Заголовок 3</h2>
          <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст <i class="icon-search"></i></p>
        </div>
        <div class="span3">
          <h2>Заголовок 4</h2>
          <pre>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст </pre>
        </div>
      </div>
      <div class="row-fluid">
  <div class="span12">
    Fluid 12
    <div class="row-fluid">
      <div class="span6">
        Fluid 6
        <div class="row-fluid">
          <div class="span6">Fluid 6</div>
          <div class="span6">Fluid 6</div>
        </div>
      </div>
      <div class="span6">Fluid 6</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/include/js/bootstrap.min.js"></script>
  </body>
</html>